// customize some Bootstrap variables
// On peut changer les variables de bootstrap (cf doc boostrap pour les connaître) avant de charger bootstrap
$primary: darken(#d705eb, 20%);
$danger: darken(#ff822e, 20%);
$success: darken(#4fda94, 20%);

// $body-bg: #f3f3a5;
$dark: #0C1B33;

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";


html, body {
    height: 100%;
    background-color: #FFFBDB;
}